# Include the license file
include LICENSE

# Include the data files
recursive-include examples *
recursive-include plots *

# Exclude atm-data files
recursive-exclude atmdata *
recursive-exclude interplanetary-data *
