# Package dependencies

numpy==1.21.6
scipy==1.8.0
matplotlib==3.5.2
astropy==4.3.1
# Documentation Dependencies

sphinx==2.1.2
ipykernel==5.1.1
nbsphinx==0.6.1
jinja2==2.11.3
docutils==0.14
markupsafe==2.0.1