# Package dependencies

numpy==1.26.2
scipy==1.11.4
matplotlib==3.8.2
astropy==6.0.0
jplephem==2.17
poliastro==0.17

# Documentation Dependencies

sphinx==4.0.2
nbsphinx==0.6.1
docutils==0.14
ipykernel==5.1.1
jinja2==3.1.2
markupsafe==2.1.2
sphinx_rtd_theme==1.1.1